* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Roboto", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
}

body {
   background-color: #1d1d1d;
}

/* width */
::-webkit-scrollbar {
   width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px grey;
   border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: white;
   border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #b30000;
}
